{{> headers }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Asta Black Clover's</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt saepe soluta maiores, ducimus fugiat debitis quod velit delectus animi odit voluptas consectetur minima reprehenderit, nobis vitae optio exercitationem, vel rerum.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/img-01.jpg" class="img-thumbnail">
    </div>

</div>
    

{{> footer}}